body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
}

#brainwaves {
  height: 100%;
  width: calc(50% - 100px);
  position: fixed;
  top: 0px;
  z-index: 0;
}

#code {
  font-family: consolas, inconsolata, 'dejavu sans mono', monospace;
  color: #ddd;
  height: 100%;
  width: calc(50% - 423px);
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 0;
  white-space: pre;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 10pt;
}

main {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  max-width: 800px;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 20px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

h1 {
  line-height: 150%;
}

.lab {
  font-size: 1.5ex;
  display: block;
}

h1 .cap {
  font-size: 5ex;
}

h2 {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

h2 .cap {
  font-size: 3ex;
}

.kern {
  margin-right: -0.1ex;
}

h3 {
  margin: 0px;
  font-weight: bold;
}

h4 {
  margin: 0px;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: normal;
}


a, a:visited {
  color: #0645ad;
  text-decoration: none;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 30px;
}

section p {
  margin: 0px;
  width: 100%;
  line-height: 150%;
}

nav {
  margin: 100px auto 20px auto;
  max-width: 760px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: space-evenly;
}

nav img {
  height: 50px;
}

nav a {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: block;
  width: 100px;
}


.video {
  display: block;
}

div.member {
  position: relative;
  width: 280px;
  margin-right: 15px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
  border-radius: 4px;
  padding: 10px;
}

div.member p {
  margin-top: 10px;
  line-height: 120%;
}

div.image-cropper {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -15px;
  right: -15px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
}

div.image-cropper img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

div.links {
  display: flex;
  column-gap: 10px;
}

div.project {
  position: relative;
  width: 100%;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
  border-radius: 4px;
  padding: 10px;
}

div.project p {
  margin-top: 10px;
  line-height: 120%;
}

div.package {
  position: relative;
  width: 350px;
  margin-right: 15px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
  border-radius: 4px;
  padding: 10px;
}

div.package p {
  margin-top: 10px;
  line-height: 120%;
}

p.authors {
  white-space: pre-line;
  margin-top: -5ex;
}

.talk img {
  width: 350px;
  border: 1px solid black;
}
