input[type='text'] {
  width: 280px;
  height: 30px;
  margin-bottom: 20px;
}

button {
  background-color: #0645ad;
  color: white;
  border: none;
  height: 30px;
  font-size: 15px;
  width: 100px;
  border-radius: 5px;
}

button:hover {
  background-color: #0645ad;
}

table {
  width: 400px;
  margin: auto;
  border-collapse: collapse;
}

th {
  text-align: left;
  background-color: #0645ad;
  color: white;
}

tr:nth-child(even) {
  background: #def;
}

td, th {
  padding: 5px 10px;
}

th:nth-child(1) {
  border-radius: 5px 0px 0px 0px;
}

th:nth-child(2) {
  border-radius: 0px 5px 0px 0px;
}

#result p {
    text-align: center;
}

#aalto-img {
  display: block;
  width: 100px;
  margin: auto;
}

#query-form {
  text-align: center;
}
